<br>

<div>
    <h1>Welcome to <em>HackerScribble</em>!</h1>
    {% if active_user %}
        <a href="/newpost">Add a new post</a>
        <a href="/logout">Logout</a>
    {% else %}
        <a href="/login">Login</a>
        <span> or </span>
        <a href="/signup">Register!</a>
    {% endif %}
    
</div>
<br><br>
<section>
    {%for post in posts %}
    <a href={{'/post/' + post.key().id()|string}}>
        <h2>{{post.subject}}</h2>
    </a>
    <p><em>{{post.author.username}}</em> ({{post.created.date()}})</p>
    <pre>{{post.content}}</pre>
    <em>Likes: {{post.likes|length}} | Comments: {{post.comments.count()}}</em>
    {% endfor %}
</section>