<br>

<div>
    {% if active_user %}
        <a href="/newpost">Add a new post</a>
        <a href="/logout">Logout</a>
    {% else %}
        <a href="/login">Login</a>
        <a href="/signup">Register!</a>
    {% endif %}
    
</div>
<br><br>
<section>
    {%for post in posts %}
    <a href={{'/post/' + post.key().id()|string}}>
        <h2>{{post.subject}}</h2>
    </a>
    <strong>By {{post.author.username}}, on {{post.created.date()}}</strong>
    <br><hr><br>
    <pre>{{post.content}}</pre>
    {% endfor %}
</section>