<br>
<header>
    <a href="/">Home</a>
    <a href="/logout">Logout</a>
</header>

<section>
    <h2>{{post.subject}}</h2>
    <p><em>{{post.author.username}}</em> ({{post.created.date()}})</p>
    {% if user_id and user_id == post.author.key().id()|string %}
        <p><a href={{"/editpost?post_id=%s" % post.key().id()|string}}><button>Edit Post</button></a></p>
        <form method="POST" action={{"/post/%s" % post.key().id()|string}}>
            <input type='submit' value='Delete Post'>
        </form>
    {% endif %}
    <pre>{{post.content}}</pre>
    <em>Likes: {{post.likes|length}} | Comments: {{post.comments.count()}}</em>
    <br><br>
    {% if user_id and user_id != post.author.key().id()|string %}
        <form method="POST" action="/like">
            <input style="display:none" name="post_id" value={{post.key().id()}}>
            <input type='submit' value='Like'>
        </form>
    {% endif %}
</section>

<hr><br>

<form method="POST" action="/addcomment">
    <input style="display:none" name="post_id" value={{post.key().id()}}>
    <textarea name="content" cols="75" rows="3" placeholder="Type your comment here"></textarea>
    <p style="color:red">{{error}}</p>
    <input type='submit' value='Add comment'>
</form>

<h3>Comments</h3>
{% for comment in post.comments %}
    <pre>{{comment.content}}</pre>
    <em>- {{comment.author.username}}</em>
    {% if user_id and user_id == comment.author.key().id()|string %}
        <p><a href={{"/editcomment?comment_id=%s" % comment.key().id()|string}}><button>Edit Comment</button></a></p>
        <form method="POST" action="/deletecomment">
            <input style="display: none" name="comment_id" value={{comment.key().id()}}>
            <input type='submit' value='Delete Post'>
        </form>
    {% endif %}
    <hr>
{% endfor %}

